/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 62rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

