---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
    <p class="c-article__time">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign m = page.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}Ene
          {% when '2' %}Feb
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}May
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Sep
          {% when '10' %}Oct
          {% when '11' %}Nov
          {% when '12' %}Dic
        {% endcase %}
        {{ page.date | date:"%d" }},
        {{ page.date | date: "%Y" }}
      </time>
    </p>
  </header>
  <!-- Post Tags -->
  <ul class="c-tags">
    {% for tag in page.tags %}
    <li class="c-tag">{{ tag }}</li>
    {% endfor %}
  </ul>
  <div class="c-article__main">
    {{ content }}
  </div>
  <!-- Previous / Next Buttons -->
  <div class="pagenav">
    {% if page.previous.url %}
    <div class="wrapper" id="left">
      <small>
        <b>Anterior</b>
        {% assign m = page.previous.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}Ene
          {% when '2' %}Feb
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}May
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Sep
          {% when '10' %}Oct
          {% when '11' %}Nov
          {% when '12' %}Dic
        {% endcase %}
        {{ page.previous.date | date:"%d" }},
        {{ page.previous.date | date: "%Y" }}
      </small>
      <br>
      <a class="no-hov" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="wrapper" id="right">
      <small>
        {% assign m = page.next.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}Ene
          {% when '2' %}Feb
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}May
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Sep
          {% when '10' %}Oct
          {% when '11' %}Nov
          {% when '12' %}Dic
        {% endcase %}
        {{ page.next.date | date:"%d" }},
        {{ page.next.date | date: "%Y" }}
        <b>Siguiente</b>
      </small>
      <br>
      <a class="no-hov" href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}
  </div>
  <!-- Disqus comments view -->
  {% if page.comments != false and site.disqus_id %}
  <div class="post-disqus">
    <section id="disqus_thread"></section>
    {% include disqus.html %}
  </div>
  {% endif %}
</article>
