---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">
          {% assign m = page.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}ENERO
            {% when '2' %}FEBRERO
            {% when '3' %}MARZO
            {% when '4' %}ABRIL
            {% when '5' %}MAYO
            {% when '6' %}JUNIO
            {% when '7' %}JULIO
            {% when '8' %}AGOSTO
            {% when '9' %}SEPTIEMBRE
            {% when '10' %}OCTUBRE
            {% when '11' %}NOVIEMBRE
            {% when '12' %}DICIEMBRE
          {% endcase %}
          {{ page.date | date: "%-d" }},
          {{ page.date | date: "%Y" }}
        </h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ "/" | relative_url  }}assets/images/avatar.jpg">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
